{% load static %}

<link
        type="text/css"
        rel="stylesheet"
        href="{% static 'css/bootstrap.css' %}" />

<h1>Twitter Feed for user {{ user }}</h1>

<p><a href="{% url 'sign_out' %}">Sign out</a></p>
<p><a href="{% url 'index' %}">Home</a></p>
<p><a href="{% url 'analytics:index' %}">Analytics Home</a></p>


<form action="{% url 'process'%}" method='post'>
	{% csrf_token %}
	<p><textarea name='tweet'></textarea></p>
	<p><input type='submit' value='Tweet' /></p>
</form>
<hr/>
{% if tweets %}
	{% for t in tweets %}
		<p><i>{{ t.p_date }}</i>: {{ t.text }}</p>
	{% endfor %}
{% else %}
	<p>Looser... Tweet something! </p>
{% endif %}
<br/>

<img src='{% static "twitter/img/927_v4.png" %}'/>